@import '../../sass/mixins.scss';

.logo {
    font-weight: 200;
    cursor: pointer;
    text-transform: uppercase;
    // height: 5rem;
    // width: 20rem;
    font-size: 2rem;
    text-decoration: none;
    color: inherit;
    align-items: center;
    justify-content: center;

    &:hover {
        text-decoration: underline;
    }
}

.navbar {
    display: flex;
    align-content: center;
    margin-right: 4rem;
    min-height: 10rem;
    @include sm {
        visibility: hidden;
    }

    &__item {
        padding: 2rem;
        display: flex;
        align-items: center;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        background-color: lightgrey;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    &__item-link {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 200;
        font-size: 1.5rem;
        color: black;
        cursor: pointer;
        &:hover {
            font-weight: 700;
        }

        &__selected {
            font-weight: 700;
        }
    }
}

.navbarItem {
    &__selected {
        font-weight: 700;
    }
}
