@import '../../sass/mixins.scss';

.navIcon {
    visibility: hidden;
    margin: 1em;
    width: 30px;
    cursor: pointer;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 100;
    @include sm {
        visibility: visible;
    }
}

.navIcon:after,
.navIcon:before,
.navIcon div {
    background-color: #000;
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    margin: 4px 0;
    transition: all 0.2s ease-in-out;
}

.navIcon__clicked:before {
    transform: translateY(7px) rotate(135deg);
}

.navIcon__clicked:after {
    transform: translateY(-2px) rotate(-135deg);
}

.navIcon__clicked div {
    transform: scale(0);
}

.navContainer {
    position: fixed;
    opacity: 0;
    height: 100vh;
    right: -150px;
    width: 100vw;
    z-index: 10;
    background-color: lightgrey;
    transition: all 0.2s ease-in-out;
    visibility: hidden;

    &__opened {
        right: 0;
        opacity: 1;
        visibility: visible;
    }
    &__items {
        position: relative;
        top: 8rem;
        font-size: 5rem;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    ul {
        list-style-type: none;
        li {
            text-decoration: none;
            cursor: pointer;

            &:hover {
                color: red;
                text-decoration: underline;
            }
        }
    }
}
