$tablet: 720px;
$desktop: 1120px;
$largeDesktop: 1600px;
$hugeDesktop: 1920px;

@mixin sm {
    @media (min-width: 800px) {
        @content;
    }
}

@mixin mobile {
    @media (min-width: 450px) {
        @content;
    }
}

@mixin cinema {
    @media (min-width: 1200px) {
        @content;
    }
}
