.container {
    position: relative;
}

.icon {
    width: 3rem;
    height: 3rem;
    position: fixed;
    bottom: 2rem;
    right: -5rem;
    transition: right 0.2s ease-in-out;
    cursor: pointer;

    &__visible {
        right: 1.5rem;
        transition: right 0.2s ease-in-out;
    }
}

.empty {
    width: 0;
    height: 0;
}
