.logo___4LlGj {
  height: 5rem;
  width: 5rem;
  margin-left: 4rem; }

.navbar___1vd5F {
  display: flex;
  align-content: center;
  margin-right: 4rem; }
  .navbar__item___2qvn0 {
    padding: 2rem; }
  .navbar__item-link___3zXZ7 {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
    color: black; }

.main-container__heading1___39H33 {
  font-size: 8.5rem;
  font-weight: 100; }

.main-container__heading2___2XF4O {
  font-size: 2.5rem;
  font-weight: 100; }

.portfolio-container___3YjUI {
  width: 100rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .portfolio-container__heading___pMYRs {
    font-size: 4rem;
    font-weight: 400;
    margin: 0 auto; }
  .portfolio-container__heading2___Nkuyt {
    font-size: 2rem;
    font-weight: 300;
    font-style: italic; }
  .portfolio-container__box___Ad4fF {
    width: 120rem;
    height: 45rem;
    margin-top: 5rem;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column; }
  .portfolio-container__heading3___3sMtI {
    font-size: 3rem;
    font-weight: 500;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    text-align: center; }
  .portfolio-container__img___1LoTu {
    width: 40rem;
    height: 25rem;
    margin-top: 2rem;
    margin-right: 6rem;
    margin-left: 2rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.6); }
  .portfolio-container__content___2N8_J {
    display: flex;
    align-items: center;
    align-self: center;
    width: 80rem;
    font-size: 1.25rem;
    font-weight: 100; }

.btn___1R9MZ {
  color: #fff;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 500;
  font-size: 1.1rem;
  letter-spacing: 1.5px;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  outline: none;
  border-width: 1px;
  border-style: initial;
  border-color: transparent;
  border-image: initial;
  border-radius: 10rem;
  padding: 1.5rem 4rem;
  margin-top: 2rem;
  margin-right: 2rem;
  transition: all 0.2s ease-out 0s; }

:root {
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d; }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-size: cover;
  background-repeat: no-repeat; }

.container___2ObeQ {
  min-height: 70rem;
  padding-top: 18rem;
  padding-left: 10rem;
  display: flex;
  margin: 2rem;
  margin-left: 5rem; }

.container-3___diBZK {
  min-height: 100rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  margin: 2rem; }

.container-4___pmGxZ {
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  margin: 2rem; }

.header___14YjC {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
  margin-top: 2rem; }

.container-2___2_Blp {
  min-height: 70rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  margin: 2rem; }

.about-container___2NCAL {
  width: 100rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .about-container__heading___1Y4gl {
    font-size: 4rem;
    font-weight: 400;
    margin: 0 auto; }
  .about-container__heading2___1KzVy {
    font-size: 2rem;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 2rem; }
  .about-container__content___2PuXR {
    text-align: center;
    padding-top: 2rem;
    font-size: 1.5rem;
    font-weight: 200; }

.container-4___2jDp3 {
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  margin: 2rem; }

.contact-container___nLXwQ {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .contact-container__header1___1Qmmt {
    font-size: 4rem;
    font-weight: 400; }
  .contact-container__header2___DXgjC {
    font-size: 2rem;
    font-weight: 200;
    font-style: italic; }
  .contact-container__icons___B_B8P {
    margin-top: 2rem; }
  .contact-container__icon___2kCEM {
    width: 5rem;
    height: 5rem; }


/*# sourceMappingURL=styles.chunk.css.map*/