:root {
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d; }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-size: cover;
  background-repeat: no-repeat; }

._298ouM8aKzLldB0R2Tch0V {
  color: blue;
  font-size: 10rem; }

._36HUFl0DBvt8uXz2nAL5p8 {
  height: 5rem;
  width: 5rem;
  margin-left: 4rem; }

.r5AJ_ythEhm6Tiw5Uc6On {
  display: flex;
  align-content: center;
  margin-right: 4rem; }
  ._22_XBi6s3VrdSjw_zqI2Og {
    padding: 2rem; }
  .eYzo5rV9Lt2LFiLPy4UZ7 {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
    color: black; }

._2oYZ6ugNaUJwUTOkHrjmIV {
  font-size: 8.5rem;
  font-weight: 100; }

._1o2jHFL4o0YbVh4C5vGluP {
  font-size: 2.5rem;
  font-weight: 100; }

._21t-q5Av7RTIUpuveQ6S-5 {
  width: 100rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  ._2WuJy2l9GK2mOs59qR9g2R {
    font-size: 4rem;
    font-weight: 400;
    margin: 0 auto; }
  ._10hd7Iw1OtHb1Qsw-gR6Se {
    font-size: 2rem;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 2rem; }
  ._3KOW5QR5_rtjltEav5H88b {
    text-align: center;
    padding-top: 2rem;
    font-size: 1.5rem;
    font-weight: 200; }

._1a02Kjy-tKBMfIcubXzCwX {
  width: 100rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .tjolPMNHOhJjFD3RHygNL {
    font-size: 4rem;
    font-weight: 400;
    margin: 0 auto; }
  ._3AykyBOybxM9MoJLzyDid1 {
    font-size: 2rem;
    font-weight: 300;
    font-style: italic; }
  ._3E4q0-McFkNY1F7G1cDACK {
    width: 120rem;
    height: 45rem;
    margin-top: 5rem;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column; }
  .DNzhsxrZmojnc0BTL0nKY {
    font-size: 3rem;
    font-weight: 500;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    text-align: center; }
  .IIsPbPA-BFHZr7anjvQRH {
    width: 40rem;
    height: 25rem;
    margin-top: 2rem;
    margin-right: 6rem;
    margin-left: 2rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.6); }
  ._35mw_wmlid_kI1Xxzjz06I {
    display: flex;
    align-items: center;
    align-self: center;
    width: 80rem;
    font-size: 1.25rem;
    font-weight: 100; }

._1dBPHeMdkdnKmk6QSTubNP {
  display: flex;
  flex-direction: column;
  align-items: center; }
  ._3d6bGbYwnoJdMdK7wfQABI {
    font-size: 4rem;
    font-weight: 400; }
  .S8qwq386Y6H8F3P1Ivm5T {
    font-size: 2rem;
    font-weight: 200;
    font-style: italic; }
  ._10Q8WOmXLToVN4UGGuTWth {
    margin-top: 2rem; }
  ._38jVDQ65FmkUsjQVl4UvmO {
    width: 5rem;
    height: 5rem; }

.mY9TJm2PBW5sBGaZjZgPI {
  color: #fff;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 500;
  font-size: 1.1rem;
  letter-spacing: 1.5px;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  outline: none;
  border-width: 1px;
  border-style: initial;
  border-color: transparent;
  border-image: initial;
  border-radius: 10rem;
  padding: 1.5rem 4rem;
  margin-top: 2rem;
  margin-right: 2rem;
  transition: all 0.2s ease-out 0s; }


/*# sourceMappingURL=styles.chunk.css.map*/