.container___13tUu {
  min-height: 100vh;
  min-width: 90vw;
  padding-top: 5rem;
  display: flex; }
  .container___13tUu a {
    text-decoration: none; }

.main-container___33RFQ {
  position: relative;
  left: 10rem; }
  @media (max-width: 800px) {
    .main-container___33RFQ {
      position: relative;
      left: 30%; } }
  @media (max-width: 450px) {
    .main-container___33RFQ {
      left: 10%; } }
  .main-container__heading1___3Zt8P {
    font-size: 4.5rem;
    font-weight: 100; }
  .main-container__heading2___jqLeF {
    font-size: 2.5rem;
    font-weight: 100; }

.btn___3ynub {
  color: #fff;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 500;
  font-size: 1.1rem;
  letter-spacing: 1.5px;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  outline: none;
  border-width: 1px;
  border-style: initial;
  border-color: transparent;
  border-image: initial;
  border-radius: 10rem;
  padding: 1.5rem 4rem;
  margin-top: 2rem;
  margin-right: 2rem;
  transition: all 0.2s ease-out 0s; }

:root {
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d; }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-size: cover;
  background-repeat: no-repeat; }

.logo___3VBbV {
  font-weight: 200;
  cursor: pointer;
  text-transform: uppercase;
  height: 5rem;
  width: 20rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: inherit;
  align-items: center;
  justify-content: center;
  padding: 2rem; }
  .logo___3VBbV:hover {
    text-decoration: underline; }

.navbar___2p39K {
  display: flex;
  align-content: center;
  margin-right: 4rem; }
  .navbar__item___1NRHp {
    padding: 2rem; }
  .navbar__container___1eqRs {
    display: flex;
    justify-content: space-between; }
  .navbar__item-link___39q9j {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1.5rem;
    color: black;
    cursor: pointer; }
    .navbar__item-link___39q9j:hover {
      font-weight: 700; }

.navIcon___k4vbz {
  margin: 1em;
  width: 30px;
  cursor: pointer;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 100; }

.navIcon___k4vbz:after,
.navIcon___k4vbz:before,
.navIcon___k4vbz div {
  background-color: #000;
  border-radius: 3px;
  content: "";
  display: block;
  height: 5px;
  margin: 4px 0;
  transition: all 0.2s ease-in-out; }

.navIcon__clicked___1Y6Py:before {
  transform: translateY(7px) rotate(135deg); }

.navIcon__clicked___1Y6Py:after {
  transform: translateY(-11px) rotate(-135deg); }

.navIcon__clicked___1Y6Py div {
  transform: scale(0); }

.navContainer___3CDlL {
  position: fixed;
  opacity: 0;
  height: 100vh;
  right: -150px;
  width: 100vw;
  z-index: 10;
  background-color: lightgrey;
  transition: all 0.2s ease-in-out; }
  .navContainer__opened___uN87N {
    right: 0;
    opacity: 1; }
  .navContainer__items___2dY0v {
    position: relative;
    top: 8rem;
    font-size: 5rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .navContainer___3CDlL ul {
    list-style-type: none; }
    .navContainer___3CDlL ul li {
      text-decoration: none;
      cursor: pointer; }
      .navContainer___3CDlL ul li:hover {
        color: red;
        text-decoration: underline; }

.container___-j92G {
  display: flex;
  justify-content: center;
  text-decoration: none; }

.btn___11a68 {
  color: #fff;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 500;
  font-size: 1.1rem;
  letter-spacing: 1.5px;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  outline: none;
  border-width: 1px;
  border-style: initial;
  border-color: transparent;
  border-image: initial;
  border-radius: 10rem;
  padding: 1.5rem 4rem;
  margin: 2rem;
  transition: all 0.2s ease-out 0s; }

.container-2___2_Blp {
  min-height: 70rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  margin: 2rem; }

.about-container___2NCAL {
  max-width: 80vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .about-container__heading___1Y4gl {
    font-size: 3.5vw;
    font-weight: 400;
    margin: 0 auto; }
  .about-container__heading2___1KzVy {
    font-size: 1.5vw;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 2rem; }
  .about-container__content___2PuXR {
    text-align: center;
    padding-top: 2rem;
    font-size: 1.75vw;
    font-weight: 200; }

.container___1xbTH {
  position: absolute; }

.icon___18_SR {
  width: 3rem;
  height: 3rem;
  position: fixed;
  bottom: 2rem;
  right: -5rem;
  transition: right 0.2s ease-in-out;
  cursor: pointer; }
  .icon__visible___32OFb {
    right: 1.5rem;
    transition: right 0.2s ease-in-out; }

.empty___2nUVZ {
  width: 0;
  height: 0; }

.container-4___2jDp3 {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  margin: 2rem;
  justify-content: center; }

.contact-container___nLXwQ {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (max-width: 800px) {
    .contact-container___nLXwQ {
      margin-top: 10rem; } }
  .contact-container__header1___1Qmmt {
    font-size: 4rem;
    font-weight: 400; }
  .contact-container__header2___DXgjC {
    font-size: 2rem;
    font-weight: 200;
    font-style: italic; }
  .contact-container__icons___B_B8P {
    margin-top: 2rem; }
  .contact-container__icon___2kCEM {
    width: 5rem;
    height: 5rem; }

.container___1zH2h {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  justify-content: center;
  align-items: center;
  justify-content: center; }

.textarea___1rFdy {
  width: 25rem;
  height: 2.5rem;
  margin-bottom: 1rem;
  resize: none;
  padding: 4px 1px; }
  .textarea__big___2qpMS {
    height: 7rem; }
  .textarea___1rFdy::placeholder {
    font-size: 1rem; }
  .textarea___1rFdy:focus {
    outline: none; }

.select___1sLlx {
  background-color: transparent;
  border-radius: 0;
  appearance: none;
  width: 25rem;
  height: 2.5rem;
  margin-bottom: 1rem; }


/*# sourceMappingURL=styles.chunk.css.map*/