.container {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    margin: 2rem;
}
.textarea {
    width: 25rem;
    height: 2.5rem;
    margin-bottom: 1rem;
    resize: none;
    padding: 4px 1px;

    &__big {
        height: 7rem;
    }

    &__emoji {
        display: flex;
        align-self: center;
        margin: 1rem;
    }

    &::placeholder {
        font-size: 1rem;
    }
    &:focus {
        outline: none;
    }
}

.select {
    background-color: transparent;
    border-radius: 0;
    appearance: none;
    width: 25rem;
    height: 2.5rem;
    margin-bottom: 1rem;
}

.header {
    display: flex;
    flex-direction: row;
    font-size: 3rem;
    font-weight: 500;
}
