@import '../../sass/mixins.scss';
@import '../../sass/variables.scss';

.filter-container {
    height: 10rem;
    margin-top: 3rem;
    text-align: center;
    font-size: 2rem;

    &__header {
        font-size: 5rem;
    }
    &__list {
        display: flex;
        margin-right: 1rem;
        justify-content: center;
        list-style: none;
        li {
            margin-right: 3rem;
            &:hover {
                color: $secondary-color;
                cursor: pointer;
            }
        }

        li:visited {
            color: $secondary-color;
        }
    }
}

.filter-item {
    &__selected {
        color: $secondary-color;
    }
}
