@import '../../sass/mixins.scss';
@import '../../sass/variables.scss';

.filter-container {
    height: 10rem;
    margin-top: 3rem;
    text-align: center;
    font-size: 2rem;

    &__header {
        font-size: 5rem;
    }
    &__list {
        display: flex;
        margin-right: 1rem;
        justify-content: center;
        list-style: none;
    }
}

.filter-item {
    margin-right: 3rem;
    &__selected {
        color: white;
        background-color: $secondary-color;
        border-radius: 100px;
        &:hover {
            color: white;
            cursor: pointer;
        }
    }
    &:hover {
        color: $secondary-color;
        cursor: pointer;
    }
}
