@import '../../sass/breakpoints.scss';

.projectPage {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5rem;
    }

    &__img {
        max-width: 85rem;
        height: auto;
        box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.6);
        margin: 5rem;
        @include mobile {
            width: 85vw;
        }
    }
    &__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__textBox {
        width: 80rem;
        font-size: 2.5rem;
        font-weight: 300;

        @include mobile {
            width: 75vw;
        }
        @include desktop {
            width: 75rem;
        }
    }
    &__heading {
        font-size: 5rem;
        font-weight: 500;
    }
}
