@import '../../sass/mixins.scss';
@import '../../sass/variables.scss';
@import '../../sass/animations.scss';

.container-2 {
    // background-color: lightgray;s
    min-height: 70rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    margin: 2rem;
}

.about-container {
    max-width: 80vw;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__heading {
        font-size: 6.5rem;
        font-weight: 400;
        margin: 0 auto;

        @include sm {
            font-size: 5.5rem;
        }
    }

    &__heading2 {
        font-size: 2.5rem;
        font-weight: 400;
        font-style: italic;
        margin-bottom: 2rem;
    }

    &__content {
        text-align: center;
        padding-top: 2rem;
        font-size: 3rem;
        font-weight: 200;
        color: #353b3c;
    }

    &__word {
        display: inline-block;
        background-color: $secondary-color;
        width: auto;
        transform: skewY(-5deg);
        margin-right: 0.5rem;

        & span {
            display: inline-block;
            transform: skewY(5deg);
            // color: white;
        }


        &:hover {
            animation: colorFromRight 0.25s;
        }


        @include sm {
            font-size: 2rem;
        }
    }

    &__text {
        width: 80vw;
    }
}
